<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin name="load_store_locator_extension_attributes_on_get_list" type="MageSuite\StoreLocator\Plugin\InventoryApi\SourceRepository\LoadStoreLocatorExtensionAttributesOnGetList"/>
        <plugin name="load_store_locator_extension_attributes_on_get" type="MageSuite\StoreLocator\Plugin\InventoryApi\SourceRepository\LoadStoreLocatorExtensionAttributesOnGet"/>
        <plugin name="save_store_locator_extension_attributes" type="MageSuite\StoreLocator\Plugin\InventoryApi\SourceRepository\SaveStoreLocatorExtensionAttributes"/>
    </type>

    <type name="Magento\InventoryInStorePickupApi\Model\Mapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="extension_attributes.url" xsi:type="string">extension_attributes.url</item>
            </argument>
            <argument name="preProcessors" xsi:type="array">
                <item name="extension_attributes.frontend_name" xsi:type="object">MageSuite\StoreLocator\Model\PickupLocation\Mapper\PreProcessor\FrontendName</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\StoreLocator\Model\Import\Source">
        <arguments>
            <argument name="validColumnNames" xsi:type="array">
                <item name="source_code" xsi:type="string">source_code</item>
                <item name="name" xsi:type="string">name</item>
                <item name="description" xsi:type="string">description</item>
                <item name="latitude" xsi:type="string">latitude</item>
                <item name="longitude" xsi:type="string">longitude</item>
                <item name="country_id" xsi:type="string">country_id</item>
                <item name="city" xsi:type="string">city</item>
                <item name="street" xsi:type="string">street</item>
                <item name="postcode" xsi:type="string">postcode</item>
                <item name="url" xsi:type="string">url</item>
                <item name="stock_name" xsi:type="string">stock_name</item>
            </argument>
        </arguments>
    </type>
</config>
